:root {
  //======== color setting ========
  --bs-color-primary: #4d57e3;
  --bs-color-secondary: #fea80f;
  --bs-light-blue: #c8cbfc;

  //===== font family setting ========
  --bs-font-primary: "Roboto", sans-serif;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  //===== Shadow ========
  --bs-box-shadow: 1px 0 20px 0 rgba(0, 0, 0, 0.12);
}
