//=========================
//        Aside
//=========================
.nav-let {
  padding-top: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  .nav-let-top {
    a {
      background-color: #fbe1c0;
      height: 30px;
      width: 30px;
      display: grid;
      place-content: center;
      margin: 0 auto;
      border-radius: 100px;
    }
    svg {
      width: 15px;
      width: 15px;
      color: #000;
    }
  }
  .brand {
    font-weight: 600;
    font-size: 2rem;
  }
  .nav-profil {
    img {
      height: 30px;
      width: 30px;
      border-radius: 100px;
    }
    svg {
      width: 20px;
      width: 20px;
      color: #000;
    }
  }
  .navigation {
    list-style: none;
    text-decoration: none;
    background-color: #f7f6fe;
    padding-left: 0;
    border-radius: 50px;
    display: inline-block;
    li {
      &:last-child {
        margin-bottom: 0;
      }
      margin-bottom: 20px;
      a.active {
        background-color: var(--bs-color-primary);
        height: 30px;
        width: 30px;
        border-radius: 100px;
        display: grid;
        place-content: center;
        svg {
          color: #fff;
        }
      }
    }
    svg {
      width: 20px;
      width: 20px;
      color: #000;
    }
  }
  .nav-profil {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
  }
}
