//=========================
//      Base Layout
//=========================
.layout {
  display: flex;
  gap: 10px;
  .aside {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    @media (max-width: 678px) {
      width: 50px;
    }
  }
  .page {
    min-height: 100vh;
    margin-left: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 678px) {
      margin-left: 50px;
    }
    .page-center {
      overflow-y: scroll;
      height: 100vh;
      width: 70%;
      background-color: #f7f6fe;
      padding-top: 25px;
      padding-bottom: 50px;
      @media (max-width: 678px) {
        width: 100%;
      }
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: transparent;
      }
    }
    .page-right {
      z-index: 99;
      padding-top: 25px;
      width: 30%;
      position: sticky;
      top: 0;
      right: 0;
      background-color: #fff;
      overflow-y: scroll;
      height: 100vh;
      @media (max-width: 678px) {
        display: none;
        overflow-y: scroll;
      }
      &.active-togle {
        @media (max-width: 678px) {
          display: block;
          width: 80%;
          position: fixed;
          height: 100vh;
          right: 0;
          top: 0;
        }
      }
    }
    .togle-right-side {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;
      background-color: var(--bs-color-primary);
      color: #fff;
      border: 0;
      border-radius: 100px;
      height: 25px;
      width: 25px;
      @media (max-width: 678px) {
        display: block;
      }
    }
  }
}
