//=========================
//        Header
//=========================
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .search {
    position: relative;
    .btn-search {
      background-color: #fff;
      width: 40px;
      height: 40px;
      display: grid;
      border: 0;
      cursor: pointer;
      place-content: center;
      border-radius: 100px;
    }
    .box-input {
      display: none;
      position: absolute;
      top: 50px;
      padding: 10px;
      right: 0;
      background-color: #fff;
      z-index: 999;
      input {
        padding: 10px;
      }
      &.btn-seacrh-active {
        display: block;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      color: #000;
    }
  }
}
