//=========================
//        Page Right
//=========================

.card {
  &.card-border {
    border: 1px solid #bdbdbd;
    padding: 20px;
    border-radius: 20px;
  }
  &.expense-income {
    margin-bottom: 20px;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0;
      align-items: center;
    }
    .separate {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      &::after,
      &::before {
        content: "";
        display: block;
        height: 20px;
        width: 1px;
        background-color: #000;
      }
    }
    .expense,
    .income {
      p {
        font-size: 14px;
        margin-bottom: 0;
      }
      h1 {
        margin-bottom: 0;
        font-size: 20px;
      }
      label {
        font-size: 12px;
      }
    }
    .progress-status {
      display: flex;
      gap: 10px;
      div {
        height: 35px;
        border-radius: 10px;
      }
      .expense {
        background-color: var(--bs-color-primary);
        width: 75%;
      }
      .income {
        background-color: var(--bs-color-secondary);
        width: 25%;
      }
    }
  }
  &.last-spending {
    margin-bottom: 20px;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin-bottom: 20px;
      }
    }
    .btn-view-all-spending {
      text-align: center;
      text-decoration: none;
      color: var(--bs-color-primary);
    }
    .list-spending {
      border-bottom: 1px solid #bdbdbd;
      padding-bottom: 20px;
      .cover {
        height: 70px;
        width: 70px;
        display: grid;
        place-content: center;
        background-color: var(--bs-light-blue);
        border-radius: 100px;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          object-position: center;
        }
      }

      .overview {
        a {
          text-decoration: none;
        }
        h1 {
          color: #000;
          font-size: 1.2rem;
          margin-bottom: 0;
        }
        p {
          color: #bdbdbd;
          font-size: 0.9rem;
          margin: 0;
        }
      }
      display: flex;
      gap: 20px;
    }
  }
  &.premium-member {
    margin-bottom: 20px;
    h1 {
      font-size: 1rem;
    }
    h2 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }
    p {
      text-decoration: none;
      font-size: 1rem;
      color: #bdbdbd;
      margin: 10px 0;
    }
    a {
      width: 100%;
      padding: 15px;
      color: #fff;
      display: block;
      text-align: center;
      text-decoration: none;
      border-radius: 10px;
      background-color: var(--bs-color-primary);
    }
  }
}
