//=========================
//       Home
//=========================
.home {
  .card-custom {
    padding: 15px;
    border-radius: 10px;
    position: relative;
    background: rgb(77, 87, 227);
    background: linear-gradient(
      146deg,
      rgba(77, 87, 227, 1) 0%,
      rgba(168, 173, 231, 1) 100%
    );
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::after {
      content: "";
      background-image: url(https://i.ibb.co/fdYZGDn/handy-safe.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    .title {
      position: relative;
      z-index: 9;
      display: flex;
      color: #fff;
      justify-content: space-between;
    }
    .overview {
      position: relative;
      z-index: 9;
      p,
      h1 {
        margin-bottom: 0;
      }
      h1 {
        font-size: 1.2rem;
      }
      display: flex;
      color: #fff;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  .row {
    display: flex;
    gap: 25px;
    @media (max-width: 676px) {
      display: block;
    }
    &.row-one {
      margin-bottom: 35px;
      .card {
        padding: 15px;
      }
      .card-row {
        align-items: center;
        display: flex;
        @media (max-width: 678px) {
          display: block;
        }
        .card-left {
          width: 25%;
          @media (max-width: 678px) {
            width: 100%;
          }
          p {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 0.9rem;
            img {
              height: 50px;
              width: 50px;
              object-fit: cover;
              object-position: center;
            }
          }
          label {
            color: #bdbdbd;
            font-size: 0.8rem;
          }
        }
        .card-right {
          width: 75%;
          @media (max-width: 678px) {
            width: 100%;
          }
        }
      }

      .col {
        &:nth-child(1) {
          width: 60%;
          @media (max-width: 676px) {
            width: 100%;
          }
        }
        &:nth-child(2) {
          width: 40%;
          @media (max-width: 676px) {
            width: 100%;
          }
        }
      }
    }
    &.row-two {
      background-color: #fff;
      margin-bottom: 35px;
      border-radius: 10px;
      padding: 15px;

      .col {
        &:nth-child(1) {
          width: 50%;
          border-right: 1px solid #bdbdbd;
          @media (max-width: 676px) {
            width: 100%;
            border-right: 0;
          }
        }
        &:nth-child(2) {
          width: 50%;
          @media (max-width: 676px) {
            width: 100%;
          }
        }
      }
      .date {
        display: flex;
        gap: 10px;
        align-items: center;
        label {
          &::after {
            content: ">";
            font-size: 30px;
            color: #bdbdbd;
          }
        }
        button {
          h1,
          p {
            margin: 0;
          }
          background-color: transparent;
          border: 0;
          outline: 0;
          text-align: left;
          cursor: pointer;
        }
      }
      .add-shop {
        margin: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin: 0;
          font-size: 1rem;
          span {
            color: #bdbdbd;

            font-weight: 300;
          }
          font-weight: bold;
        }
        button {
          background-color: transparent;
          border: 0;
          font-size: 1rem;
          font-weight: bold;
        }
      }
      .list-item {
        ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 25px;
          li {
            width: 45%;
          }
        }
        .checkbox {
          font-size: 12px;
          padding: 5px;
          background-color: #f7f6fb;
          display: flex;
          gap: 10px;
          justify-content: space-between;
          .form-check {
            display: flex;
            gap: 10px;
            align-items: center;
          }
          button {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            svg {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
      .mini-message {
        overflow: auto;
        height: 150px;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: transparent;
        }
        img {
          width: 35px;
          height: 35px;
          border-radius: 100px;
          object-fit: cover;
          object-position: center;
        }
        .me {
          margin-bottom: 20px;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: flex-end;
          p {
            background-color: var(--bs-color-primary);
            color: #fff;
            padding: 10px;
            border-radius: 5px 5px 0 5px;
          }
        }
        .other-people {
          margin-bottom: 20px;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          p {
            background-color: var(--bs-light-blue);
            color: #000;
            padding: 10px;
            border-radius: 5px 5px 5px 0;
          }
        }
      }
      .input-text {
        padding: 10px;
        background-color: #f7f6fb;
        input {
          border: 0;
          width: 100%;
          background-color: #f7f6fb;
          padding: 10px;
          &:focus {
            border: 0;
            outline: 0;
          }
        }
        .message-tools {
          margin: 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            background-color: transparent;
            border: 0;
            cursor: pointer;
          }
        }
        .tools-icon {
          svg {
            height: 25px;
            width: 25px;
          }
        }
        .btn-send-message {
          background-color: var(--bs-color-primary) !important;
          color: #fff;
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
    &.row-three {
      overflow: hidden;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          cursor: pointer;
        }
        svg {
          height: 25px;
          width: 25px;
        }
      }
      .card {
        padding: 15px;
      }
      .col {
        background-color: #fff;
        &:nth-child(1) {
          width: 60%;
          @media (max-width: 676px) {
            width: 100%;
          }
        }
        &:nth-child(2) {
          width: 40%;
          @media (max-width: 676px) {
            width: 100%;
          }
        }
      }
      .title {
        h1 {
          margin-bottom: 0;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .title-sort {
        display: flex;
        gap: 10px;
        align-items: center;
        button {
          background-color: transparent;
          border: 0;
          cursor: pointer;
        }
      }
      .list-transaction {
        list-style: none;
        padding-left: 0;
        height: 300px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: transparent;
        }
        li {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid #bdbdbd;
          padding-top: 20px;
        }
        .list-user {
          display: flex;
          align-items: center;
          gap: 10px;
          h1,
          p {
            margin: 0;
          }
          h1 {
            font-size: 1rem;
          }
          p {
            font-size: 0.8rem;
            color: #bdbdbd;
          }
        }
        .list-total {
          display: flex;
          align-items: center;
          gap: 20px;
          h1 {
            margin-bottom: 0;
            font-size: 1.2rem;
          }
          svg {
            height: 20px;
            width: 20px;
          }
        }
        .cover {
          img {
            width: 35px;
            height: 35px;
            border-radius: 100px;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
